.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(25% - 15px), 1fr));
  grid-gap: 15px;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 15px;
  opacity: 1; }
  @media (max-width: 939px) {
    .cards-container {
      justify-content: center; } }
  .cards-container--open .card {
    opacity: 0; }

.card-subtext {
  color: red;
  font-size: 10px;
  letter-spacing: 2px;
  line-height: initial;
  margin: 0 0 3px 0;
  text-transform: uppercase; }

.card-title {
  color: #FFF;
  font-size: initial;
  letter-spacing: 3px;
  line-height: initial;
  margin: 0 0 auto 0;
  text-transform: uppercase; }

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(50px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-right: 15px;
  width: 100%;
  transition: opacity 0.2s; }
  .card:nth-child(1) {
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: fade-up;
    opacity: 0;
    transform: translateY(10px); }
  .card:nth-child(2) {
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: fade-up;
    opacity: 0;
    transform: translateY(10px); }
  .card:nth-child(3) {
    animation-delay: 1.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: fade-up;
    opacity: 0;
    transform: translateY(10px); }
  .card:nth-child(4) {
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: fade-up;
    opacity: 0;
    transform: translateY(10px); }
  .card:nth-child(5) {
    animation-delay: 2.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: fade-up;
    opacity: 0;
    transform: translateY(10px); }
  .card:nth-child(6) {
    animation-delay: 3s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: fade-up;
    opacity: 0;
    transform: translateY(10px); }
  .card:nth-child(7) {
    animation-delay: 3.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: fade-up;
    opacity: 0;
    transform: translateY(10px); }
  .card:nth-child(8) {
    animation-delay: 4s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: fade-up;
    opacity: 0;
    transform: translateY(10px); }
  .card:nth-child(9) {
    animation-delay: 4.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: fade-up;
    opacity: 0;
    transform: translateY(10px); }
  .card:nth-child(10) {
    animation-delay: 5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: fade-up;
    opacity: 0;
    transform: translateY(10px); }
  .card:nth-child(11) {
    animation-delay: 5.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: fade-up;
    opacity: 0;
    transform: translateY(10px); }
  .card:nth-child(12) {
    animation-delay: 6s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: fade-up;
    opacity: 0;
    transform: translateY(10px); }
  @media (max-width: 750px) {
    .card {
      grid-column-end: span 2; } }
  @media (max-width: 557px) {
    .card {
      grid-column-end: span 4;
      margin-right: 0;
      width: 100%; } }
  .card:nth-child(3n+3) {
    margin-right: 0; }
    @media (max-width: 939px) {
      .card:nth-child(3n+3) {
        margin-right: 15px; } }
    @media (max-width: 557px) {
      .card:nth-child(3n+3) {
        margin-right: 0; } }
  @media (max-width: 939px) {
    .card:nth-child(2n+2) {
      margin-right: 0; } }
  .card__top {
    display: flex;
    flex-direction: column; }
    .card__top img {
      height: auto;
      width: 100%; }
  .card__bottom {
    display: flex;
    flex-direction: column;
    height: 90px;
    justify-content: space-between;
    overflow: hidden;
    padding: 20px;
    position: relative; }

.card--large {
  grid-column-end: span 2; }
  @media (max-width: 557px) {
    .card--large {
      grid-column-end: span 4; } }

.card-blur {
  background-size: 200%;
  background-position: center bottom;
  filter: blur(15px);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -2; }

.card-filter {
  background-color: rgba(50, 50, 50, 0.7);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1; }

.card-button {
  align-self: flex-start;
  background: transparent;
  border: 1px solid;
  color: #FFF;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
  opacity: .3;
  padding: 10px 20px;
  text-align: center;
  transition: all .1s linear; }
  .card-button:hover {
    background: red;
    color: #fff;
    opacity: 1;
    border-color: red;
    transform: scale(1.05);
    box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.5); }

.mdl-layout__header {
  height: 80px;
  justify-content: center; }
  .mdl-layout__header .mdl-textfield.is-focused .mdl-textfield__input {
    border-color: white; }

.mdl-layout__header-row {
  position: relative; }

.mdl-navigation__link {
  cursor: pointer;
  color: #FFFFFF;
  letter-spacing: 3px;
  font-size: 13px; }

.mdl-layout__header--transparent.mdl-layout__header--transparent,
.mdlext-layout__sticky-header {
  background: #12121a; }

.mdl-layout__drawer-button {
  color: white;
  display: none;
  top: 13px; }
  @media (max-width: 1024px) {
    .mdl-layout__drawer-button {
      display: block; } }

.nav__logo-container {
  display: flex;
  flex-direction: column; }
  .nav__logo-container img {
    height: 30px;
    width: auto; }

.search-results {
  background: white;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  color: black;
  font-weight: 100;
  position: absolute;
  bottom: 0;
  right: 40px;
  transform: translateY(100%);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  max-height: 400px;
  overflow: auto;
  font-size: 12px; }
  .search-results::-webkit-scrollbar {
    width: 0px;
    background: transparent; }
  .search-results__item {
    align-items: center;
    border-bottom: 1px solid black;
    color: black;
    display: flex;
    padding: 10px;
    text-decoration: none; }
    .search-results__item b {
      color: red; }
    .search-results__item p {
      display: none; }

.nav__mobile-logo {
  display: none;
  position: absolute;
  right: 15px;
  top: 33px; }
  @media (max-width: 1024px) {
    .nav__mobile-logo {
      display: block; } }
  .nav__mobile-logo img {
    height: 30px;
    width: auto; }

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(50px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.about-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  max-width: 100%;
  position: relative; }
  .about-section--first {
    background-image: url(/images/img_mountains01.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    height: calc(100vh - 80px);
    text-align: center; }
    .about-section--first h1 {
      animation-delay: 1s;
      animation-duration: 2s;
      animation-fill-mode: forwards;
      animation-name: fade-up;
      opacity: 0;
      transform: translateY(50px);
      font-size: 60px;
      letter-spacing: 2px;
      font-weight: 400;
      margin-bottom: 40px;
      margin-top: auto;
      transition: font-size 0.4s; }
      @media (max-width: 600px) {
        .about-section--first h1 {
          font-size: 50px; } }
    .about-section--first h3 {
      animation-delay: 1.5s;
      animation-duration: 2s;
      animation-fill-mode: forwards;
      animation-name: fade-up;
      opacity: 0;
      transform: translateY(50px);
      font-size: 16px;
      letter-spacing: .2em;
      font-weight: 300;
      line-height: 1.25em;
      margin-bottom: 40px;
      text-transform: uppercase;
      transition: font-size 0.4s; }
      @media (max-width: 600px) {
        .about-section--first h3 {
          font-size: 12px; } }
    .about-section--first span {
      animation-delay: 2s;
      animation-duration: 2s;
      animation-fill-mode: forwards;
      animation-name: fade-up;
      opacity: 0;
      transform: translateY(50px);
      font-size: 13px;
      font-family: 'Roboto Condensed', Helvetica, Helvetica Neue, Arial, sans-serif;
      letter-spacing: 8px;
      margin-bottom: 30px;
      margin-top: auto;
      transition: font-size 0.4s; }
      @media (max-width: 600px) {
        .about-section--first span {
          font-size: 10px; } }
  .about-section--second {
    background-image: url(/images/img_crowd.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center; }
    .about-section--second h1 {
      font-size: 3em;
      letter-spacing: 4px;
      font-weight: 100;
      line-height: 1em;
      width: 50%;
      min-width: 300px;
      line-height: 1.5em;
      transition: font-size 0.4s; }
      @media (max-width: 680px) {
        .about-section--second h1 {
          font-size: 2em; } }
    .about-section--second span {
      padding: 5px 10px 5px 10px;
      background: red;
      font-weight: 900;
      border-radius: 10px; }
  .about-section--third {
    background-image: url(/images/img_red01.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    padding: 30px 0 30px 0;
    text-align: center; }
    .about-section--third__image {
      height: auto;
      margin-bottom: 40px;
      margin-top: 40px;
      width: 300px; }
  .about-section--fourth {
    background-color: black;
    color: white;
    padding: 30px 0 30px 0;
    text-align: center; }
    .about-section--fourth__center .center-image {
      height: auto;
      margin-bottom: 40px;
      margin-top: 40px;
      min-width: 100px;
      width: 20%; }
  .about-section--fifth {
    background-image: url(/images/img_red02.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    padding: 30px 0 40px 0;
    text-align: center; }
    .about-section--fifth__video {
      height: auto;
      margin-bottom: 40px;
      margin-top: 40px;
      max-width: 100%;
      width: 700px; }

.about-type__top {
  align-items: center;
  display: flex; }
  .about-type__top img {
    height: 22px;
    width: auto; }
  .about-type__top .top-text {
    min-width: 104px;
    max-width: 104px;
    white-space: normal;
    font-size: 22px;
    line-height: 51px;
    font-weight: 400;
    color: white;
    letter-spacing: 1px;
    font-family: "Roboto Condensed";
    text-transform: uppercase; }

.about-type__bottom span {
  white-space: normal;
  font-size: 9px;
  line-height: 17px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 3px;
  font-family: "Roboto Condensed"; }

.about-type__bottom p {
  white-space: normal;
  font-size: 22px;
  line-height: 29px;
  max-width: 390px;
  font-weight: 400;
  color: white;
  letter-spacing: 1px;
  font-family: "Roboto Condensed"; }

.footer {
  align-items: center;
  background-color: #12121a;
  color: white;
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: center;
  width: 100%; }
  .footer__top {
    font-weight: bold;
    text-align: center; }
  .footer__bottom {
    display: flex;
    margin-top: 10px;
    opacity: 0.5;
    text-align: center; }
    .footer__bottom span {
      margin-left: 5px;
      margin-right: 5px; }

.video-wrapper {
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  min-height: 628px; }
  .video-wrapper:hover {
    color: red; }
    .video-wrapper:hover .video-overlay-play-button {
      opacity: 0.7;
      transform: scale(1); }
  .video-wrapper .video-logo,
  .video-wrapper .artist-name,
  .video-wrapper .info-container {
    opacity: 1;
    transform: scale(1);
    transition: all 0.4s; }
  .video-wrapper .video-logo {
    align-items: center;
    display: flex;
    left: 50px;
    position: absolute;
    top: 50px; }
    .video-wrapper .video-logo img {
      height: 30px; }
    .video-wrapper .video-logo span {
      color: white;
      font-size: 25px;
      margin-left: 10px; }
  .video-wrapper .artist-name {
    color: white;
    position: absolute;
    top: 150px;
    left: 50px;
    font-weight: 900;
    font-size: 75px;
    transition-delay: 0.1s; }
    @media (max-width: 761px) {
      .video-wrapper .artist-name {
        font-size: 40px;
        line-height: 40px; } }
  .video-wrapper .info-container {
    bottom: 25px;
    color: white;
    left: 50px;
    position: absolute;
    transition-delay: 0.2s; }
    .video-wrapper .info-container span {
      font-family: Lato, sans-serif;
      font-size: 25px;
      margin-bottom: 25px;
      letter-spacing: 2px; }
      @media (max-width: 761px) {
        .video-wrapper .info-container span {
          font-size: 19px; } }
    .video-wrapper .info-container h2 {
      font-weight: 900;
      font-size: 37px;
      margin-top: 25px;
      padding-right: 50px;
      line-height: 1.3;
      letter-spacing: 1px; }
      @media (max-width: 761px) {
        .video-wrapper .info-container h2 {
          font-size: 17px; } }
  .video-wrapper .video-overlay-play-button {
    opacity: 0.4;
    width: 100px;
    transition: all 0.2s;
    transform: scale(0.9); }
  .video-wrapper > video {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2; }
  .video-wrapper .full-video-poster {
    background-image: url(/images/revsliders/covers/5.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.4s;
    transition-delay: 0.5s;
    background-repeat: no-repeat;
    transform: scale(1.2); }
  .video-wrapper .darken-poster {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4); }
  .video-wrapper.isPlaying .video-logo,
  .video-wrapper.isPlaying .artist-name,
  .video-wrapper.isPlaying .info-container {
    opacity: 0;
    transform: scale(0.8); }
  .video-wrapper.isPlaying .full-video-poster {
    opacity: 0; }

.about-services {
  display: flex;
  flex-direction: row; }
  @media (max-width: 760px) {
    .about-services {
      flex-direction: column; } }
  .about-services__left {
    align-items: center;
    display: flex;
    flex-grow: 1;
    height: 480px;
    justify-content: center;
    width: 100%; }
    .about-services__left video {
      background: black;
      height: 100%;
      width: 100%; }
  .about-services__right {
    z-index: 1; }
    .about-services__right span {
      color: white;
      font-weight: 300;
      letter-spacing: .2em;
      line-height: 1.25em;
      opacity: 0.5;
      text-transform: uppercase; }
    .about-services__right img {
      margin-bottom: 10px;
      width: 30px; }
  .about-services__medium {
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0;
    width: 310px; }
    @media (max-width: 760px) {
      .about-services__medium {
        width: 100%; } }
  .about-services--radio {
    background-image: url("/images/services/bg_radio.jpg"); }
  .about-services--tv {
    background-image: url("/images/services/bg_tv.jpg"); }
  .about-services--experience {
    background-image: url("/images/services/bg_experience.jpg"); }
  .about-services--digital {
    background-image: url("/images/services/bg_digital.jpg"); }

@keyframes loaderAnim {
  to {
    opacity: 1; } }

@keyframes slideup {
  from {
    opacity: 0;
    transform: translateY(100px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none; }

/* Icons */
.icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: currentColor; }

main {
  position: relative;
  width: 100%; }

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); }

.grid__item {
  padding: 0 4vw; }

.product {
  height: 100%;
  padding-top: 10em;
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.product__bg {
  background: transparent;
  position: relative; }

.product__img {
  max-height: 25em;
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  pointer-events: none;
  transform: translate3d(-50%, 0, 0); }

.product__title {
  position: relative;
  margin: 0.5em 0 0;
  font-size: 1.75em;
  color: white;
  font-family: "Playfair Display", serif;
  font-weight: 700; }

.details {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  padding: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  pointer-events: none;
  justify-content: center; }

.details--open {
  pointer-events: auto; }

.details > * {
  position: relative;
  opacity: 0; }

.details__bg {
  width: 100%;
  position: fixed;
  left: 0; }

.details__bg--up {
  top: 0;
  height: 100vh;
  background: rgba(18, 18, 26, 0.5); }

.details__bg--down {
  background-color: #12121a;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%) brightness(0.1);
  top: 0;
  height: 100vh; }

.details__img {
  position: absolute;
  left: 25vw;
  margin-left: -241px;
  width: auto;
  height: auto;
  max-width: 50vw;
  max-height: 100vh;
  transform: all 0.2s; }
  @media (max-width: 998px) {
    .details__img {
      max-height: initial;
      max-width: initial;
      min-width: 100vw;
      min-height: 100vh;
      height: auto;
      width: auto;
      filter: brightness(15%) grayscale(100%) opacity(0%); } }

.details__bg, .details__img {
  transform-origin: 0 0; }

.details__title {
  width: calc(50% - 30px);
  font-size: 3em;
  margin: 0.25em 0 1em 0;
  color: white;
  font-weight: 400; }
  @media (max-width: 850px) {
    .details__title {
      font-size: 2.5em; } }
  @media (max-width: 761px) {
    .details__title {
      font-size: 2em; } }
  @media (max-width: 998px) {
    .details__title {
      width: 100%;
      text-align: center;
      font-size: 2.5em; } }

.details__subtitle {
  width: calc(50% - 30px);
  color: red;
  text-transform: uppercase;
  margin: -1.5em 0 0.1em;
  letter-spacing: 0.115em;
  font-size: 1.5em;
  margin-top: -200px; }
  @media (max-width: 998px) {
    .details__subtitle {
      width: 100%;
      text-align: center; } }

.details__close {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background: none;
  margin: 2em;
  cursor: pointer;
  font-size: 0.85em;
  color: white; }

.dummy-menu {
  border: 0;
  background: none;
  padding: 0;
  margin: 2.75em 2.5em 0 0;
  position: fixed;
  top: 0;
  right: 0;
  font-size: 0.85em;
  color: white;
  cursor: pointer;
  z-index: 1000; }

.details__deco {
  display: none; }

/* Related demos */
.content--related {
  padding: 8em 5vw;
  font-weight: bold;
  text-align: center;
  background: #000;
  color: #f0f0f0; }
  .content--related a:hover {
    color: #fff; }
  .content--related h2 {
    font-size: 1.25em; }
  .content--related .demos {
    padding-bottom: 3em; }

.media-item {
  display: inline-block;
  padding: 1em;
  vertical-align: top;
  transition: color 0.3s; }

.media-item__img {
  max-width: 100%;
  opacity: 0.8;
  transition: opacity 0.3s; }

.media-item:hover .media-item__img, .media-item:focus .media-item__img {
  opacity: 1; }

.media-item__title {
  font-size: 1em;
  margin: 0;
  padding: 0.5em; }

.details--open .details__assets-container {
  bottom: 0;
  color: white;
  display: flex;
  opacity: 1;
  position: absolute;
  width: 50vw;
  padding-bottom: 70px;
  padding-left: 20px;
  box-sizing: border-box; }
  @media (max-width: 998px) {
    .details--open .details__assets-container {
      width: 100%;
      justify-content: center; } }

.details .details__assets-col {
  animation: none; }

.details--open .details__assets-col {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: slideup; }

.details--open .details__assets-audio {
  animation-delay: 0s; }

.details--open .details__assets-video {
  animation-delay: 0.5s; }

.details--open .details__assets-photo {
  animation-delay: 1s; }

.details__assets-col {
  opacity: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px; }

.details__asset {
  align-items: center;
  display: flex;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 30px;
  width: 100%; }
  .details__asset i {
    margin-right: 3px; }

.details__asset-icon {
  background: #333;
  width: 80px;
  height: 66px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
  margin-right: 100px;
  border-radius: 10px;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  position: relative; }
  .details__asset-icon img {
    height: auto;
    width: 40px; }
  .details__asset-icon span {
    font-size: 21px;
    font-weight: 900;
    letter-spacing: 1.1px;
    position: absolute;
    right: -6px;
    transform: translateX(100%); }

@keyframes close-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.details__assets-audio .details__asset-icon {
  margin-right: 80px; }
  @media (max-width: 530px) {
    .details__assets-audio .details__asset-icon {
      margin-right: initial; } }

.details__assets-video .details__asset-icon {
  margin-right: 50px; }
  @media (max-width: 530px) {
    .details__assets-video .details__asset-icon {
      margin-right: initial; } }

.details__assets-audio .details__asset-photo {
  margin-right: 90px; }
  @media (max-width: 530px) {
    .details__assets-audio .details__asset-photo {
      margin-right: initial; } }

@media (max-width: 530px) {
  .details__asset-icon {
    margin-bottom: 60px;
    margin-right: initial; }
    .details__asset-icon span {
      bottom: -30px;
      left: -80px;
      right: initial;
      width: 100%; } }

.details--open-init {
  background: #12121a; }
  .details--open-init .details__close {
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: close-in; }
  .details--open-init .details__img {
    animation-delay: 0.7s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: close-in; }
  .details--open-init .details__subtitle {
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: close-in; }
  .details--open-init .details__title {
    animation-delay: 0.7s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: close-in; }

@keyframes contactleft {
  from {
    opacity: 0;
    transform: translateY(-500px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes contactright {
  from {
    opacity: 0;
    transform: translateY(500px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeintext {
  from {
    opacity: 0;
    transform: translateX(-20px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeindivider {
  from {
    transform: scaleX(0); }
  to {
    transform: scaleX(1); } }

@keyframes fadeinbubble {
  from {
    opacity: 0;
    transform: scale(0); }
  to {
    opacity: 1;
    transform: scale(1); } }

.contact {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  width: auto; }
  @media (max-width: 1024px) {
    .contact {
      margin-top: 20px; } }
  @media (max-width: 850px) {
    .contact {
      margin-top: 60px; } }
  @media (max-width: 420px) {
    .contact {
      margin-top: 20px; } }
  .contact__left {
    position: relative;
    opacity: 0;
    transform: translateY(-500px);
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: contactleft; }
    @media (max-width: 850px) {
      .contact__left {
        position: absolute; } }
  .contact__map {
    width: 450px;
    height: calc(450px * 1.3); }
    @media (max-width: 450px) {
      .contact__map {
        height: auto;
        max-width: 100%; } }
  .contact__bubble {
    position: absolute;
    top: 145px;
    right: 40px;
    height: auto;
    width: 225px;
    opacity: 0;
    transform: scale(0);
    animation-delay: 0.5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: fadeinbubble; }
  .contact__divider {
    background: red;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    height: 3px;
    margin-top: 25px;
    width: 100px;
    transform: scaleX(0);
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-name: fadeindivider;
    margin-bottom: auto; }
  .contact__right {
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    box-shadow: -2px 2px 1px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateY(500px);
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: contactright;
    display: flex;
    background: white;
    color: black;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 30px; }
    .contact__right h3 {
      font-size: 13px;
      font-weight: 900;
      color: red;
      letter-spacing: 2px;
      margin-bottom: auto; }
    .contact__right h1 {
      font-size: 20px;
      text-align: center;
      font-weight: 900;
      line-height: 2em;
      letter-spacing: 2.5px;
      opacity: 0;
      transform: translateX(-20px);
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-name: fadeintext; }
    .contact__right .first {
      animation-delay: 1.1s; }
    .contact__right .second {
      animation-delay: 1.3s; }
    .contact__right .third {
      animation-delay: 1.5s; }
    .contact__right .mdl-textfield__label:after {
      background-color: red; }
    .contact__right .mdl-button--accent.mdl-button--accent.mdl-button--raised {
      background-color: red;
      opacity: 0;
      transform: translateX(-20px);
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-name: fadeintext;
      animation-delay: 2.3s; }
    .contact__right .mdl-js-textfield {
      opacity: 0;
      transform: translateX(-20px);
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-name: fadeintext; }
    .contact__right .first-text {
      animation-delay: 1.7s; }
    .contact__right .second-text {
      animation-delay: 1.9s; }
    .contact__right .third-text {
      animation-delay: 2.1s; }

@keyframes lds-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px; }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent; }
    .lds-ring div:nth-child(1) {
      animation-delay: -0.45s; }
    .lds-ring div:nth-child(2) {
      animation-delay: -0.3s; }
    .lds-ring div:nth-child(3) {
      animation-delay: -0.15s; }

.loading {
  display: none;
  align-items: center;
  background-color: #12121a;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  max-width: 100vw;
  width: 100%;
  z-index: 1;
  transition: all 0.2s; }
  .loading--in {
    opacity: 1;
    pointer-events: auto; }

.tobi__zoom-icon {
  display: none; }

.lightbox {
  align-items: center;
  color: inherit;
  display: flex;
  text-decoration: none; }

.tobi--zoom {
  align-items: center;
  display: flex; }

.tobi-overlay {
  background-color: black;
  animation-duration: 0.2s;
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.3s; }
  .tobi-overlay[aria-hidden="false"] {
    opacity: 1;
    transform: scale(1); }
  .tobi-overlay[aria-hidden="true"] {
    display: block;
    pointer-events: none;
    opacity: 0; }

.tobi-overlay button[aria-label="Close"] {
  pointer-events: none; }

.tobi-counter {
  display: none; }

#lightbox-video-1 {
  display: none; }

#lightbox-audio-1 {
  display: none; }

h1, h2, h3, h4, h5, p {
  line-height: 1;
  margin: initial;
  font-family: Lato, sans-serif; }

body.body-class {
  background-color: #12121a;
  font-family: Lato, sans-serif;
  font-size: 16px; }

.mdl-layout__container {
  pointer-events: none;
  z-index: 1; }

.mdl-layout__drawer-button {
  pointer-events: auto; }

.mdl-layout__drawer {
  pointer-events: auto;
  position: fixed; }

.mdl-layout__obfuscator.is-visible {
  position: fixed; }

video {
  cursor: pointer; }

a {
  color: #00B7FF; }

.content-block--nav {
  padding-top: 80px; }

.body-container {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  min-height: 100vh; }

@keyframes fadeInPage {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.belongs-page {
  animation-delay: 0.2s;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-name: fadeInPage;
  opacity: 0; }

.tobi-loader {
  display: none; }

.body--modal-open {
  overflow: hidden; }

@media (max-width: 761px) {
  .details__title {
    font-size: 2em; } }

/*# sourceMappingURL=style.css.map */